:root {
    --header-color: #212121;
    --Title-color: #212121;
    --primary-text-color:#212121;
    --second-text-color: #757575;   
    --accent-color: #2196F3;
    --primary-title-color: #212121;
    --Logo-color-studio:#212121;
    --Logo-color-web: #2196f3
}
p,  h1, h2, h3, h4, h5, h6   {
    margin: 0;
    }


ul {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}
body {
    font-family: 'Roboto', sans-serif;
}

 

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

.header-size {
    width: 1600px;
}
/* Стиль логотипа */
.class-logo-Web {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--Logo-color-web);
    margin-right: 93px;
}
.class-logo-studio{
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--Logo-color-studio);
}
/* Стиль навигации */

.nav-conteiner {
    display: flex;
    align-items: center;
}
.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
   margin-right: 215px;
   margin-left: 215px;
}


.site-nav  {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: #212121;
    
}
.site-nav-item  {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
    margin-top: 32px;
    margin-bottom: 32px;
    
}
.site-nav-item:not(:last-child) {
    margin-right: 50px; 
}

.site-nav-link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.02em;
    color: var(--header-color);
}
.current {
    color: var(--accent-color);
    } 
.site-nav-link:hover {color: var(--accent-color);}
.site-nav-link:focus {color: var(--accent-color);}

.class-mail-tel {
color: var(--second-text-color);
Font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;

}
.class-mail-tel:hover {color: var(--accent-color);}
.class-mail-tel:focus {color: var(--accent-color);}
.pointer {cursor: pointer;}


.nav-mail-tel {
    margin-left: auto;
}
.nav-mail {
    margin-right: 50px;
}

.nav-tel {
    margin-right: 100px;
}
/*стиль кнопок*/

.style-button {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
    background: #F5F4FA;
    
    

}


.style-button:hover {
    color:#FFFFFF;
    background-color: var(--accent-color);
}
.style-button:focus {
    color:#FFFFFF;
    background-color: var(--accent-color);
}

.class-button-page-first:hover {color: var(--accent-color);}
.class-button-page-first:focus {color: var(--accent-color);}   

/*стили заголовков*/

.hero-baner{
    width: 1600px;
    height: 600px;
    background: #2F303A;
}
.title-hero {
font-style: 400;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
padding: 200px 452px 0px 452px;
min-width: 696px;
margin-bottom: 50px;}
.button-page-first {
 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    margin-top: 30px;
    margin-right: 700px;
    margin-bottom: 210px;
    margin-left: 700px;
    
 }
 /*стили advantage */ 
 .flex-advantage {
display: flex; 
flex-wrap: wrap;
margin-top: 94px;
margin-bottom: 94px;
}

/*скрытый заголовок*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

 
.head-advantage {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color:var(--Title-color);

}

.title-advantage {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--Title-color);
margin-bottom: 10px;

} 
.item-advantage {
 width: 270px;
 padding-right: 30px ;

}
.item-advantage:last-child {
    padding-right: 0px ; 
}

.advantage-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);    
}
.title-services {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color:var(--header-color);
margin-bottom: 50px;

}
.flex-services {
display: flex;
flex-wrap: wrap;
margin-left: -15px;
}
.flex-services-item {
    margin-right: 30px;
    margin-bottom: 94px;
}
.flex-services-item:last-child {
    margin-right: 0px;
}

.flex-team {
    display: flex;
}


.title-team {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color:var(--header-color);
margin-top: 94px;
margin-bottom: 50px;
}

.team-item {
margin-right: 50px;
margin-left: -15px;
margin-bottom: 94px;
background-color: #fff;

}
.team-item:last-child {
    margin-right: 0px;
}

.title-team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--Title-color);
margin-top: 30px;
text-align: center; 
}

.title-work-position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-text-color);    
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;}

.bg-color-section-size {
 background: #F5F4FA;
 width: 1600px;   
}
.bg-color-section-size:nth-child(even) {
background-color: #FFFFFF;
}
.projects {

}

.projects-title {
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);}

.projects-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color:var(--second-text-color);

}

/*классы футер*/

.footer {
    background: #2F303A;
    width: 1600px;
    margin-left: 230px;
    }

.footer-logo-distance {
    display: block ;
    padding-top: 60px;
}
.footer-item {
padding-top: 9px;

}
.footer-item:last-child {
    padding-bottom: 60px;
}
.footer-logo {
color: #FFFFFF;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

}

.adress {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
font-style: normal;
}

.footer-mail-tel {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--second-text-color)

}
.footer-mail-tel:focus {color: var(--accent-color);}
.footer-mail-tel:hover {color: var(--accent-color);}    
 