:root {
    --header-color: #212121;
    --Title-color: #212121;
    --primary-text-color:#212121;
    --second-text-color: #757575;   
    --accent-color: #2196F3;
    --primary-title-color: #212121;
    --Logo-color-studio:#212121;
    --Logo-color-web: #2196f3
}


body {
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
/* Стиль логотипа */
.class-logo-Web {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--Logo-color-web);
}
.class-logo-studio{
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--Logo-color-studio);
}
/* Стиль навигации */
.site-nav  {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: #212121;
    
}
.site-nav-item  {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);  
}
.site-nav-link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.02em;
    color: var(--header-color);
}
.current {
    color: var(--accent-color);
    } 
.site-nav-link:hover {color: var(--accent-color);}
.site-nav-link:focus {color: var(--accent-color);}

.class-mail-tel {
color: var(--second-text-color);
Font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;

}
.class-mail-tel:hover {color: var(--accent-color);}
.class-mail-tel:focus {color: var(--accent-color);}
.pointer {cursor: pointer;}

/*стиль кнопок*/

.style-button {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
    background: #F5F4FA;
    border-radius: 4px;}

.style-button:hover {
    color:#FFFFFF;
    background-color: var(--accent-color);
}
.style-button:focus {
    color:#FFFFFF;
    background-color: var(--accent-color);
}
.button-page-first {
 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;    
    
}
.class-button-page-first:hover {color: var(--accent-color);}
.class-button-page-first:focus {color: var(--accent-color);}   

/*стили заголовков*/

.bg-baner{
    background: #2F303A;
}
.title-hero {
font-style: 400;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.head-advantage {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color:var(--Title-color);
}

.title-advantage {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--Title-color);
} 

.advantage-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);    
}
.title-services {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color:var(--header-color);
}

.title-team {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color:var(--header-color);

}
.title-team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--Title-color);
}

.projects {

}

.projects-title {
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);}

.projects-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color:var(--second-text-color);

}

.title-work-position {
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--second-text-color);    
}




/*классы футер*/


.footer-logo {
color: #FFFFFF;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

}

.adress {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
font-style: normal;
}

.footer-mail-tel {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--second-text-color)

}
.footer-mail-tel:focus {color: var(--accent-color);}
.footer-mail-tel:hover {color: var(--accent-color);}    
 