:root {
    --header-color: #212121;
    --Title-color: #212121;
    --primary-text-color:#212121;
    --second-text-color: #757575;   
    --accent-color: #2196F3;
    --primary-title-color: #212121;
    --Logo-color-studio:#212121;
    --Logo-color-web: #2196f3
    
}
p,  h1, h2, h3, h4, h5, h6   {
    margin: 0;
    }
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    cursor: pointer;
}
body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}
img {
   display: block;
   max-width: 100%;
   height: auto;
}


.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* Стиль логотипа */
.logo {
padding-top: 25px;
margin-right: 93px;
padding-bottom: 24px;
}

.header-flex{
    display: flex;
}
 
.class-logo-Web {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--Logo-color-web);
    margin-right: 93px;
}
.class-logo-studio{
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--Logo-color-studio);
}
/* Стиль навигации */
.navigation {
    display: flex;
    align-items: center;
}


.site-nav  {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: #212121;
    display: flex
    
}
.site-nav-item  {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
   position: relative;
    
}

 
.site-nav-item:not(:last-child) {
    margin-right: 50px; 
}

.site-nav-link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.02em;
    color: var(--header-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    position: relative;
    transition-property: color;
    transition-duration: 250ms; ;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.site-nav-link:hover, .site-nav-link:focus{
    color: var(--accent-color);
    }
   
.current {
    
    color: var(--accent-color);
    } 

 .current::after {
     
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    display: inline-block;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background-color: var(--accent-color);
}
    
.class-mail-tel{
display: flex;
align-items: center;
color: var(--second-text-color);
Font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
fill: rgba(117, 117, 117, 1);
transition-property: color, fill;
transition-duration: 250ms; ;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

 
 
.class-mail-tel:hover, .class-mail-tel:focus {color: var(--accent-color);
    fill: var(--accent-color);
   }

.tel-icon {
    margin-right: 10px;
    
}

.nav-mail-tel {
    display: flex;

    margin-left: auto;
   
}

.contact-nav{
    display: flex;
    justify-content: center;

}
.contact-nav:not(:last-child) {
    
    margin-right: 50px;
}


/*стиль кнопок*/

.flex-examples {
 display: flex;
 justify-content: center;
 margin-bottom: 50px;
}
.button-item {
    
    margin-right: 8px;

}
.button-item:last-child{
    margin-right: 0px;
}


.style-button {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
    background: #F5F4FA;
    border-radius: 4px;
    border-style: unset;
    padding: 6px 22px;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.style-button:hover, .style-button:focus {
    color:#FFFFFF;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);  
     
}

.class-button-page-first:hover, .class-button-page-first:focus {
    color: var(--accent-color);}
     

/*стили заголовков*/

.hero-baner{
    background-color: #2F303A;
    padding: 200px 0px;
    text-align: center;
    max-width: 1600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4) 
    ),
    url("../image/backgr-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
 
.title-hero {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 30px;

}
.button-page-first {
 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    padding: 10px 32px;
    border-color: transparent;

 }

 .ddd{
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 /*стили advantage */ 
 .flex-advantage {
display: flex; 


}

/*скрытый заголовок*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  .item-advantage {
    width: 270px;
    margin-right: 30px ;
   
   }
   .item-advantage:last-child {
       margin-right: 0px ; 
   }
  .advantage-icon {
display: flex;
justify-content: center;
width: 270px;
height: 120px;
background: #F5F4FA;
border-radius: 4px; 
align-content: center; 
flex-wrap: wrap;
margin-bottom: 30px;
 }


.title-advantage {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--Title-color);
margin-bottom: 10px;
 
} 
.advantage-item {
    margin-right: 30px;
    display: flex;
    align-items: center;
    background-color: #F5F4FA;
}

.advantage-item:last-child{
    margin-right: 0px;
}
 
.adventage-list-icon {
    display: flex;
    
}
 


.social-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}
.social-item:last-child{
    margin-right: 0px;
}
.social-link{
    width: 100%;
    height: 100% ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     
}

.social-link:hover,
.social-link:focus {
 background-color: var(--accent-color);
 
}
.social-icon{
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon{
    fill: #ffffff;
   
}
   
.social-list {
    display: flex; 
    justify-content: center; 
   }
    

.item-advantage {
 width: 270px;
 margin-right: 30px ;

}
.item-advantage:last-child {
    margin-right: 0px ; 
}

.advantage-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);    
}
.title-section {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color:var(--header-color);
margin-bottom: 50px;

}
.flex-services {
display: flex;
flex-wrap: wrap;

}

.work-section {
    padding-top: 0px;
}
.flex-services-item {
    margin-right: 30px;
    position: relative;
   
}
.flex-services-item:last-child {
    margin-right: 0px;
}

.our-services {
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

    

.text-srvices {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-transform:uppercase;
    
}


.flex-team {
    display: flex;
    
}
.team-section{
    background-color: #F5F4FA;
}
 
.title-team {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color:var(--header-color);
padding-bottom: 50px;

} 

.team-item {
margin-right: 30px;
background-color: #fff;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-item:last-child {
    margin-right: 0px;
}

.title-team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--Title-color);
text-align: center; 
page-break-inside: 10px;
margin-bottom: 10px;
}

.title-work-position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-text-color);    
    text-align: center;
    margin-bottom: 16px;
     }
.name-and-position {
    padding: 30px 0px;
    
}

.bg-color-section-size {
 background: #F5F4FA;
  
}
.bg-color-section-size:nth-child(even) {
background-color: #FFFFFF;
}

/*Projests*/

.projects-list {
display: flex;
flex-wrap: wrap;

}
.projects-item {
    margin-right: 30px;
    margin-bottom: 30px;
}

.projects-item:nth-child(3n){
    margin-right: 0px;
}
.projects-item:nth-last-child(-n + 3) {
margin-bottom: 0px;
}

.projects-link{
 display: block;
 box-shadow:#FFFFFF;
 transition-property: box-shadow;
 transition-duration: 250ms; 
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover, .projects-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
.proj-img {
    position: relative;  
    overflow: hidden;
}

.projects-description {
font-weight: normal;
font-size: 18px;
line-height: 1.55;
letter-spacing: 0.03em;
color: #ffffff;
background-color: rgba(33, 150, 243, 0.9);;
padding: 24px 63px;
display: flex;
width: 100%;
height: 100%;
text-align: left;
align-items: center;
position:absolute;
bottom: 0%;
transform: translateY(100%);
transition-property: transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


.projects-link:hover .projects-description,  .projects-link:focus .projects-description {
    transform: translateY(0%);
   
}
 
 

.projects-title {
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
margin-bottom: 4px;

}


.projects-text {
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color:var(--second-text-color);

}
.projects-name {
padding: 20px 24px;
border-right: 1px solid #EEEEEE;
border-bottom: 1px solid #EEEEEE;
border-left: 1px solid #EEEEEE;

}

 /*Clients*/

.client-list {
    display: flex;
    justify-content: center; 
      
    

}
.client-item{
    width: 170px;
    height: 92px;
    
    margin-right: 30px;
}
.client-item:last-child{
    margin-right: 0px;
}

.client-icon {
    fill: #afb1b8;
    align-items: center;
    justify-content: center; 
    transition-property: fill, cursor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
   }
.client-link {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} 

.client-link:hover, :focus{
    border-color:  var(--accent-color);
    }

.client-link:hover .client-icon,
.client-link:focus .client-icon {
    fill: var(--accent-color);
    cursor: pointer;
      
}



.social-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    
}
.social-item:last-child{
    margin-right: 0px;
}
.social-link{
    width: 100%;
    height: 100% ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.social-list {
 display: flex; 
 justify-content: center; 
}
.social-icon{
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

.social-link:hover,
.social-link:focus {
 background-color: var(--accent-color);
  }

.social-link:hover .social-icon,
.social-link:focus .social-icon{
    fill: #ffffff;
}

/*классы футер*/

.footer {
    background-color: #2F303A;
    padding: 60px 0px;
     
    }

.footer-logo-distance {
    display: block ;
    margin-right: 0px;
    padding-bottom: 20px;
}
.footer-item:not(:first-child) {
margin-top: 9px;

}
 
.footer-logo {
color: #FFFFFF;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

}

.adress {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
font-style: normal;
}

.footer-mail-tel {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--second-text-color);
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

.footer-mail-tel:focus, .footer-mail-tel:hover {
    color: var(--accent-color);
    }
   
 
.box {

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC ;
}
.footer-flex {
    display: flex;
    align-items: baseline;
}
.footer-social {
    margin-left: 70px;
}

.footer-text {
font-weight: bold;
font-size: 14px;
line-height: 1.14;  
letter-spacing: 0.03em;
text-transform: uppercase;
color:#FFFFFF;

}

.footer-social-list {
        display: flex; 
        justify-content: center; 
        margin-top: 20px;
}

.footer-social-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}
.footer-social-item:last-child{
    margin-right: 0px;
}
.footer-social-link{
    width: 100%;
    height: 100% ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
 

.footer-social-icon{
    fill: #ffffff;
     }

.footer-social-link:hover,
.footer-social-link:focus {
 background-color: var(--accent-color);
}
 

.footer-form {
     
    margin-left: 93px;
    
}
.form-email{
margin-top: 20px;
display: flex;
 
}
.input-email{
width: 358px;
height: 50px;
border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color:#2F303A;
padding-left: 16px;
}
.button-text-footer {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    

}
 
.button-email {
 
width: 200px;
height: 50px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border-color: transparent;
margin-left: 12px;
display: flex;
justify-content: center;
align-items: center;
}

.form-button-sabmit {
    fill: #FFFFFF;
    margin-left: 10px;
}
/*Модальное окно*/

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    transition-duration: 250ms;
}

.modal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 528px;
height: auto;
padding: 40px;
background-color: #fff;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0;

}



.button-modal-style {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    

}
 

.button-modal{
    fill: #000000;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover{
    fill: var(--accent-color);
} 

/*Форма модального вікна*/
.modal-form{
    padding-right: 40px;
    padding-left: 40px;
}

.text-modal {
font-weight: bold;
font-size: 20px;
line-height: calc(23/20);
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 12px;
}

.title-input {
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.16;  
    letter-spacing: 0.01em;
    
    color: #757575;

}

.modal-input{
width: 448px;
height: 40px;
margin-top: 4px;
padding: 12px 30px 12px 42px;
border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
cursor: pointer;

}
 
.modal-input:focus, .modal-input:hover   {
    outline: none;
    border: 1px solid var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
}

.modal-input:focus + .input-icon {
fill: var(--accent-color);
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .input-icon {
    fill: var(--accent-color);
    transition-duration: 250ms;
    transform: rotate(360deg);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }


.input-icon {
    
    position: absolute; 
    display: block; 
    top: 50%;
    left: 14px;
    
}

.form-input-label {
display: block;
margin-bottom: 10px;
color: #757575;
font-size: 12px;
position: relative;
}
.comment {
    display: block;
    margin-bottom: 20px;
}

.modal-textarea{
resize: none;
width: 448px;
height: 120px;
border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px; 
color: black; 
margin-top: 4px;
padding-left: 16px;
display: block;

}

.modal-textarea:hover, .modal-textarea:focus {
    outline: none;
    border: 1px solid var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

 ::placeholder {

font-family: Roboto;
font-size: 14px;
line-height: 1.2;
color: rgba(117, 117, 117, 0.5);

}

 

.modal-checkbox {

font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
 
}

.checkbox-agreement {
 display: flex;
 align-items: center;
 justify-content: center;   
    
}

.checkbox {
    display: flex;
    appearance: none;
     
}
.icon-checkbox {
    display: block;
    width: 16px;
    height: 15px;
    margin-left: 19px;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    margin-right: 10px;

}

.checkbox:checked ~ .icon-checkbox {
    border-color: transparent;
    background: #2196F3;
    background-image: url('../image/icon-check.svg');
    block-size: content;
    background-origin: border-box;
}

.submit-button {
display: flex;
justify-content:center;
 
}
.form-button-text {
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    color: white;
    border-color: transparent;
    display: inline-block;
    margin-top: 20px ;
    margin-left: 0px;
    justify-content:center;
} 
.button-submit {
    display: flex;
    justify-content: center;
}