:root {
    --header-color: #212121;
    --primary-text-color:#212121;
    --second-text-color: #757575;   
    --accent-color: #2196F3;
    --primary-title-color: #212121;

}


body {
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
/* Стиль логотипа */
.class-logo-Web {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    color: #2196F3;
}
.class-logo-studio{
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    color: black;
}
.class-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
}

.class-mail-tel {
color: var(--second-text-color);
Font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;

}


/*стиль кнопок*/

.style-button {
color: var(--primary-title-color);
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.03em;
}
.style-button:hover {
    color: var(--accent-color);
}
.style-button:focus {
    color: var(--accent-color);

}
.pointer {cursor: pointer;}
    

.class-Title-h3 {
color: var(--primary-text-color);
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;}

p{
color: var(--second-text-color);
Weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
}
.footer-bg {
    background: #2F303A;
}
.footer-logo {
    color: #FFFFFF;
    line-height: 31px;
}

.adress {
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;
font-style: normal;
}

.footer-mail-tel {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}