.navigation {
    display: flex;
    align-items: center;
}


.nav  {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    display: flex
    
}
.nav__item  {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
    position: relative;

    &:not(:last-child) {
        margin-right: 50px; 
    }
}

 

.nav__link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.02em;
    color: var(--header-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    position: relative;
    transition-property: color;
    transition-duration: 250ms; ;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        color: var(--accent-color);}
}
    

   
.current {
    
    color: var(--accent-color);
    &::after {
     
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        display: inline-block;
        width: 100%;
        height: 5px;
        border-radius: 2px;
        background-color: var(--accent-color);
    }    
} 


    
.nav-mail-tel{
display: flex;
align-items: center;
color: var(--second-text-color);
Font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
fill: rgba(117, 117, 117, 1);
transition-property: color, fill;
transition-duration: 250ms; 
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover, &:focus {color: var(--accent-color);
    fill: var(--accent-color);
   }
}

.nav-icon {
    margin-right: 10px;
}

.nav-mail-tel {
    display: flex;
    margin-left: auto;
}

.contact-nav{
    display: flex;
    justify-content: center;
    
    &:not(:last-child) {
    margin-right: 50px;
    }
}

