:root {
    --header-color: #212121;
    --Title-color: #212121;
    --primary-text-color:#212121;
    --second-text-color: #757575;   
    --accent-color: #2196F3;
    --primary-title-color: #212121;
    --Logo-color-studio:#212121;
    --Logo-color-web: #2196f3
    
}