    .services {
    display: flex;
    flex-wrap: wrap;
    }
    
    .work-section {
        padding-top: 0px;
    }

    .services__item {
        margin-right: 30px;
        position: relative;
    
        &:last-child {
            margin-right: 0px;
        }
    }
    
    .services__name {
        width: 100%;
        height: 70px;
        background: rgba(47, 48, 58, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
    }
      
    .services__text {
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        color: #ffffff;
        text-transform:uppercase;
        
    }
    
    .team-section{
        background-color: #F5F4FA;
    }

    .team {
        display: flex;
        }
    
    .team__item {
    margin-right: 30px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:last-child {
        margin-right: 0px;
    }
    }

    .info-card {
        padding: 30px 0px;
        
    }
    .info-card__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--Title-color);
    text-align: center; 
    page-break-inside: 10px;
    margin-bottom: 10px;
    }
    
    .info-card__position {
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--second-text-color);    
        text-align: center;
        margin-bottom: 16px;
         }
    
    
    .bg-color-section-size {
     background: #F5F4FA;
     &:nth-child(even) {
        background-color: #FFFFFF;
        } 
    }
.social-list {
    display: flex; 
    justify-content: center; 
    }

.social-list__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
        
    &:last-child{
    margin-right: 0px;
        }
    }

.social-list__link{
    width: 100%;
    height: 100% ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
     background-color: var(--accent-color);
      }
    }


.social-list__icon{
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    
    .social-list__link:hover &,
    .social-list__link:focus &{
        fill: #ffffff;
    }
}
 
    
  
      
      